@import "styles/utils/fonts/nunito";
@import "styles/utils/fonts/fortescue";
@import "styles/utils/variables/colors";
@import "styles/authorization/authorization";
@import "styles/header/header";
@import "styles/hotels/hotels";
@import "styles/tour/tour";


* {
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-family: Nunito;
  color: $commonTextColor;
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  h1 {
    font-weight: lighter;
  }
  p.block-header {
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-size: 0.9rem;
    color: $accentColor;
  }

}


