@font-face {
  font-family: "Nunito";
  src: url('../../../fonts/nunito/Nunito-Italic-VariableFont_wght.ttf');
  src: url('../../../fonts/nunito/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url('../../../fonts/nunito/Nunito-Italic-VariableFont_wght.ttf');
  src: url('../../../fonts/nunito/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}